@mixin text-to-choose ($border-color) {
  cursor: pointer;
  position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      border-bottom: 2px solid $border-color;
      opacity: 0;
      transition: all .5s ease-in-out;
    }
}


@mixin display-flex ($direction, $justify, $align-items: normal, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align-items;
}

