$primary-color: #22475a;
$light-primary-color: #ffffff;
$active-color: #6e4241;
$focused-color: #b96246;
$light-color: #eec583;
$middle-color: #ef8d50;

$current-city-height: 350px;
$current-city-v-height: 300px;
$current-city-middle-height: 450px;
$current-city-big-height: 600px;
$header-height: 80px;
$footer-height: 50px;
$header-big-height: 90px;
$footer-big-height: 70px;
$header-middle-height: 85px;
$footer-middle-height: 60px;

$orient-landscape: landscape;
$orient-portrait: portrait;
